@import "tailwindcss";

:root {
  --background: #F2F2F7;
  --foreground: #000000;
  --gray: #86868b;
  --secondary: #121212;
  --primary: #FF9230;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #000000;
  --foreground: #F2F2F7;
  --gray: #86868b;
  --secondary: #121212;
  --primary: #FF9230;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);

  --radius-sm: clamp(8px, calc(0.5vw + 4px), 12px);
  --radius-md: clamp(12px, calc(0.5vw + 8px), 24px);
  --radius-lg: clamp(16px, calc(0.5vw + 12px), 32px);
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: 0;
}

/* ScrollBar - Firefox */
html {
  scrollbar-width: none;
}

/* ScrollBar - Chrome, Safari, Edge */
body::-webkit-scrollbar {
  display: none;
}